<html>
    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <h2>{{headline}}</h2>
                <input id="email" type='text' placeholder='Correo' (input)="setEmail($event)">
                <label for="email">{{emailinvalid}}</label>
                <input type='password' placeholder='Contraseña' (input)="setPassword($event)">
                <label for="password">{{passwordinvalid}}</label>
                <button type='button' (click)="loguearse()">Ingresar</button>
            </form>
        </div>
    </div>
</html>